fastapi 
uvicorn 
requests 
python-dotenv 
pytrends 
google-api-python-client 
groq 
-e .
cachetools
soundfile
torch
numpy
scipy
pyttsx3
pydub
transformers
torchaudio
gTTS
moviepy==1.0.3
FFmpeg
Pillow==9.5.0
srt
google_auth_oauthlib